.botao-square {
  background-color: #FF0000;
  padding: 30px;
}

.botao-bnt {
  background-color: blue;
  color: #FFF;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 20px;
}

.botao-legend {
  color: #00FF00;
}