body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-movie {
  background-color: greenyellow;
  color: rgb(61, 143, 219);
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.movies-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3;
}

.movies-title {
  font-weight: bold;
}

.movies-image {
  width: 200px;
}